<template>

    <section class="todoapp">
        <todo-list></todo-list>
    </section>

</template>
<script>
    import todoList from "../components/TodoList.vue";

    export default {
        components: {
            todoList
        },
        name: "TodoApp",
        data() {
            return {

            };
        },
        mounted() {


        },
        computed: {
        }
    };
</script>
<style>
</style>

