<template>

    <div class="cont col ">

        <h6 class="titel">{{group.name}}</h6>

        <div class="row">
            <div class="col-3"></div>
            <div style="font-weight: bold" class="col-4">Data</div>
            <div style="font-weight: bold" class="col-1">Status</div>
        </div>

        <div style="border:#9f9f9f dotted 1px;margin: 10px"></div>


        <div class="simple-page" v-for="t in task">
            <Container @drop="onDrop" group-name="4" :get-child-payload="getChildPayload2" :animation-duration="1000">
                <Draggable v-for="task in t" :key="task.id">
                    <div class="draggable-item">
                        <div class="row">
                            <div class="col-3" @focusout="currentEditTitle = 0">
                                <div v-if="currentEditTitle != task.id">
                                    <span class='text' @click="enableEditingTitle(task.id)">{{task.title}}</span>
                                </div>

                                <div v-else-if="currentEditTitle == task.id" @focusout="currentEditTitle = 0">
                                    <input type="text" style="max-width: 100%" class="input"
                                           @focusout="currentEditTitle = 0"
                                           @keyup.enter="saveEditTitle($event,task.id)"/>
                                </div>
                                <div v-else>
                                    <span class='text' @click="enableEditingTitle(task.id)">{{task.title}}</span>
                                </div>
                            </div>

                            <div class="col-4" @focusout="currentEdit = 0">
                                <div v-if="currentEdit != task.id">
                                    <span class='text' @click="enableEditing(task.id)"> {{frontEndDateFormat(task.date)}}</span>
                                </div>
                                <div v-if="currentEdit == task.id">
                                    <input type="date" class="input" @keyup.enter="saveEdit($event,task.id)"
                                           @focusout="currentEdit = 0"/>
                                </div>

                            </div>

                            <div class="edit_hover_class col-1">
                                <a @click="openModal(task.id)" data-toggle="modal" data-target="#myModal"><i
                                        style="color: green" class="fa fa-sticky-note" aria-hidden="true"></i></a>

                            </div>

                            <div class="col-3" @click.stop>
                                <div v-if="currentEditSelect != task.id">

                        <span class='text' v-if="task.completed === 'Done'" style="color: #129700"
                              @click="enableEditingSelect(task.id)">{{task.completed}}</span>
                                    <span class='text' v-else-if="task.completed === 'Delayed'" style="color: #c30000"
                                          @click="enableEditingSelect(task.id)">{{task.completed}}</span>
                                    <span class='text' v-else style="color: #e59700"
                                          @click="enableEditingSelect(task.id)">{{task.completed}}</span>
                                </div>
                                <div v-if="currentEditSelect == task.id">
                                    <!--<input type="date"  class="input" @keyup.enter="saveEdit($event,task.id)"/>-->
                                    <select class="browser-default custom-select"
                                            v-on:change="saveEditSelect($event,task.id)">
                                        <option value="" disabled selected>choose</option>
                                        <option value="Done" style="color: #129700">Done</option>
                                        <option value="Delayed" style="color: #c30000">Delayed</option>
                                        <option value="Pending" style="color: #e59700">Pending</option>
                                    </select>
                                </div>
                            </div>

                            <!-- remove task -->
                            <div class="edit_hover_class col-1">
                                <a @click="removeTodo(task.id)" class="destroy"><i style="color: red"
                                                                                   class="fa fa-trash"
                                                                                   aria-hidden="true"></i></a>

                            </div>

                        </div>

                        <div style="border:#9f9f9f dotted 1px;margin: 10px"></div>


                    </div>
                </Draggable>
            </Container>
        </div>


        <!--<div v-for="task in tasks">-->

        <!---->
        <!--</div>-->

        <!-- start Modal Show comment -->

        <b-modal :hide-footer=true :id="'show-comment-'+taskId">
            <template slot="modal-title">
                {{TaskFromComment.title}}
            </template>

            <p style="font-size: 12px;font-weight: 500">{{TaskFromComment.description}}</p>

            <b-form-input
                    id="comment-input"
                    class="pop"
                    v-model="comment"
                    :state="comment"
                    @keyup.enter="saveComment(taskId)"
                    required
            ></b-form-input>
            <br>
            <h6 style="font-size: 14px"> Previous Coments</h6>
            <br>
            <p style="font-size: 12px;font-weight: 400" v-for="comment in comments">
                {{comment.comment}}</p>
        </b-modal>

        <!-- end Modal Show comment -->

        <!-- start Modal add Task -->

        <b-modal :hide-footer=true :id="'add-todo-'+group.id">


            <b-form-group
                    :state="title"
                    label="title"
                    label-for="title-input"
                    invalid-feedback="title is required"
            >
                <b-form-input
                        id="title-input"
                        v-model="title"
                        :state="title"
                        required
                ></b-form-input>
            </b-form-group>

            <b-form-group
                    :state="description"
                    label="description"
                    label-for="description-input"
                    invalid-feedback="description is required"
            >

                <b-form-textarea
                        id="description"
                        v-model="description"
                        placeholder="Enter description..."
                        rows="3"
                        max-rows="6"
                ></b-form-textarea>

            </b-form-group>

            <b-button type="submit" @click="addTodo" variant="primary">Submit</b-button>

        </b-modal>

        <!-- end Modal add Task -->

        <!-- add task -->
        <div>
            <a href="#" @click="showModall(group.id)"><i class="fa fa-plus-circle"></i>New task</a>

        </div>
        <br><br>

    </div>

</template>
<script>
    import {mapGetters} from "vuex";
    import moment from 'moment'

    import {Container, Draggable} from "vue-smooth-dnd";
    import {applyDrag, generateItems} from '../utils/helpers'

    export default {
        components: {Container, Draggable},
        data() {
            return {
                title: '',
                comment: '',
                description: '',
                tasks: this.group.tasks,
                task: {[this.group.id]:this.group.tasks},
                taskId: '',
                date: '',
                groups:this.group,
                editing: false,
                tempValue: null,
                currentEdit: 0,
                currentEditTitle: 0,
                currentEditSelect: 0,
                currentGroupId: 0,
                isActive: false,
                showModal: false,
                comments: [],
                TaskFromComment: '',
                SortNumber: 0,
                lastSort: 0,
                sort: -1,
                sortIndex: '',
                removedIndex: ''
            }
        },

        mounted() {


            let self = this;

            window.Echo.channel("newTask").listen(".task-created", e => {
                self.tasks.push(e.task);

            });


            window.Echo.channel("CreateComment").listen(".create-comment", e => {
                console.log(e.comment)
                self.comments.push(e.comment);

            });


            window.Echo.channel("EditSort").listen(".edit-sort", e => {

                let index = self.task[self.groups.id].findIndex(function (task) {
                    return task.id === e.task.id;
                });
                self.task[self.group.id][index].sort = e.task.sort;
            });


            window.Echo.channel("editType").listen(".edit-type", e => {

                let index = this.task[this.group.id].findIndex(function (task) {
                    return task.id === e.task.id;
                });

                this.task[this.group.id][index].date = e.task.date;
                this.task[this.group.id][index].title = e.task.title;
                this.task[this.group.id][index].completed = e.task.completed;

            });


            window.Echo.channel("taskRemoved").listen(".task-removed", e => {
                let index = this.tasks.findIndex(task => task.id === e.task.id)
                this.tasks.splice(index, 1)

            });


        },
        name: "Todo",
        props: ["group"],
        computed: {
            ...mapGetters(["GET_GROUPS"]),

        },

        methods: {
            /**
             * @param dropResult event drop
             * function drag and drop and update sort in database
             */
            onDrop: function (dropResult) {

                this.task[this.group.id] = applyDrag(this.task[this.group.id], dropResult).filter(task => task != undefined);

                axios.post(`/api/todos-sort`, {
                    data: {
                        tasks: this.task
                    }
                }).then(res => {
                    console.log(res)
                }).catch(err => console.log(err))


            },

            /**
             * function return row drag
             */
            getChildPayload2(index) {
                let task = this.tasks[index];
                return task;
            },

            /**
             * @param Id task
             * function open modal to show comment about task
             */
            openModal(Id) {
                axios.get(`/api/comments/${Id}`)
                    .then(res => {
                        {
                            this.comments = res.data.comments;
                            this.TaskFromComment = res.data.task;
                            this.taskId = res.data.task.id;
                            this.$root.$emit('bv::show::modal', 'show-comment-' + Id, '#btnShow')
                        }
                    })
                    .catch(err => {
                        console.log(err)
                    })
            },

            /**
             * function save new task
             */
            addTodo() {

                let currentDate = new Date().toJSON().slice(0, 10).replace(/-/g, '/');
                let type = 'Pending';
                let value = {
                    title: this.title,
                    description: this.description,
                    group_id: this.currentGroupId,
                    date: currentDate,
                    completed: type,
                    sort: this.sort + 1
                };
                this.sort++;
                let self = this;
                this.title = '';
                this.description = '';

                axios.post('/api/todos', value).then(res => {
                    if (res.data === "added")
                        value.id = res.data.id;
                    value.date = res.data.date;
                    self.tasks.push(value);
                    this.$root.$emit('bv::hide::modal', 'add-todo-' + this.currentGroupId, '#btnShow')

                }).catch(err => {
                    console.log(err)
                })


            },

            /**
             * function change format date
             * @param date
             * @returns {string}
             */
            frontEndDateFormat: function (date) {
                return moment(date, 'YYYY-MM-DD').format('DD/MM/YYYY');
            },

            /**
             * function trans text to date form
             * @param value
             */
            enableEditing: function (value) {
                this.currentEdit = value
            },

            /**
             * function trans text to text form
             * @param value
             */
            enableEditingTitle: function (value) {

                this.currentEditTitle = value
            },

            /**
             * function update date task
             * @param v  event contain new value updated
             * @param e  id task i want update
             */
            saveEdit: function (v, e) {

                let newDate = v.target.value;
                if (newDate === '')
                    newDate = new Date().toJSON().slice(0, 10).replace(/-/g, '/');
                this.disableEditing();
                let self = this;
                axios.post(`/api/todos/${e}`, {'date': newDate}).then(res => {
                    let index = self.tasks.findIndex(task => task.id === e)
                    self.tasks[index].date = newDate;

                }).catch(err => console.log(err))

            },

            /**
             * function update title task
             * @param v  event contain new value updated
             * @param e  id task i want update
             */
            saveEditTitle: function (v, e) {
                let title = v.target.value;
                this.disableEditing();
                let self = this;
                axios.post(`/api/todos/${e}`, {'title': title}).then(res => {
                    console.log(res)
                    let index = self.tasks.findIndex(task => task.id === e)
                    self.tasks[index].title = title;
                }).catch(err => console.log(err))

            },

            handleBlur() {
                this.currentEditTitle = 0
            },

            /**
             * function make stop return to input
             */
            disableEditing: function () {
                this.tempValue = null;
                this.currentEdit = 0;
                this.currentEditTitle = 0;
                this.currentEditSelect = 0;
            },

            /**
             * function make change text to input
             * @param value
             */
            enableEditingSelect: function (value) {
                this.currentEditSelect = value
            },

            /**
             * function open modal create task
             */
            showModall(id) {
                this.currentGroupId = id;
                console.log(id)

                this.$root.$emit('bv::show::modal', 'add-todo-' + id, '#btnShow')
            },

            /**
             * function update type of task to Pending - Delayed - Done
             * @param v  event contain new value updated
             * @param e  id task i want update
             */
            saveEditSelect: function (v, e) {
                let type = v.target.value;
                this.disableEditing();
                let self = this;
                // arrow functions
                axios.post(`/api/todos/${e}`, {'completed': type}).then(res => {
                    console.log(res)
                    let index = self.tasks.findIndex(task => task.id === e)
                    self.tasks[index].completed = type;

                }).catch(err => console.log(err))
            },

            /**
             *  function delete task with confirm to delete
             * @param id task i want delete it
             */
            removeTodo(id) {

                if (confirm('are you sure?'))
                    axios.delete(`/api/todos/${id}`)
                        .then(res => {
                            let index = this.tasks.findIndex(task => task.id === id)
                            if (res.data === 'deleted')
                                if (~index)
                                    this.tasks.splice(index, 1)

                        }).catch(err => {
                        console.log(err)
                    })

            },

            /**
             *  function store new comment
             * @param t task id related comment
             */
            saveComment(t) {
                console.log(this.comment)
                let value = {comment: this.comment, task_id: t};
                let self = this;
                axios.post('/api/comment', value).then(res => {
                    if (res.data === "added")
                        console.log('ok')
                    this.comment = '';

                    self.comments.push(value);

                }).catch(err => {
                    console.log(err)
                })
            }
        }
    };
</script>


<style>
    .edit_hover_class a i {
        display: none;
    }

    .edit_hover_class:hover a i {
        display: block;
    }

</style>
