<template>

    <div class="content">
        <div style="margin: 0px" class="row">
            <todo v-for="group in groups" :group="group" :key="group.id"/>
        </div>
    </div>


</template>

<script>
    import todo from "../components/Todo";
    import {mapGetters} from "vuex";

    export default {
        components: {
            todo
        },
        name: "TodoList",
        data() {
            return {};
        },
        mounted() {
            this.$store.dispatch("GET_GROUPS");
        },
        computed: {
            ...mapGetters(["groups"]),

        }
    };
</script>
